:root {
    --primary-color: #4B53F2; /* Primary color */
    --secondary-color: #140F8C; /* Secondary color */
    --background-color: #F2F2F2; /* Background color */
    --accent-color: #F26B6B; /* Accent color */
    --light-accent-color: #BBCDF2; /* Light accent color */
    --dark-accent-color: #0A0773; /* Dark accent color */
    --white-color: #FFFFFF; /* White color */
    --link-color: #FFFFFF; /* Link color */
    --link-hover-color: #3f72af; /* Link hover color */
}

.about__achievements-right h2{
    display: block; /* Change from inline-flex to block */
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin: 6rem 3rem 6rem;
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about__achievements-right h2.visible{
    opacity: 1;
    transform: translateY(0);
}

.about__achievements-right h2:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3rem 3rem rgba(0, 0, 0, 0.5);
}

.achievement__card1{
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.achievement__card2{
    margin-top: 12.5rem;
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.achievement__card3{
    margin-top: 25rem;
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 3s ease-out, transform 3s ease-out;
}

.achievement__card1.visible, .achievement__card2.visible, .achievement__card3.visible{
    opacity: 1;
    transform: translateY(0);
}

.about__achievement{
    margin-top: 1rem;
}

.about__achievement .about__achievements-right h1,
.about__achievement .about__achievements-right p{
    color: #fff;
}

.about__achievement .container_about__achievements_container .about__achievements-right h1,
.about__achievement .container_about__achievements_container .about__achievements-right .studentreviews{
    margin: 2rem;
    text-align: center;
}

.studentreviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.studentreviews a.visible{
    opacity: 1;
    transform: translateY(0);
}

.studentreviews a{
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--accent-color);
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about__achievements-right > p{
    margin: 1.6rem 0 2rem;
}

.achievements__cards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 0 8rem;
    text-align: center;
    justify-content: space-evenly;
}

.achievement__card1, .achievement__card2, .achievement__card3{
    background: #4B53F2;
    padding: 1.5rem;
    width: 20%;
    height: 17.5rem;
    border-radius: 1rem;
    gap: 2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
}

.achievement__card1 p, .achievement__card2 p, .achievement__card3 p{
    font-size: 15px;
}

.achievement__card1:hover, .achievement__card2:hover, .achievement__card3:hover{
    background: #4B53F2;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon{
    background: #91B2F2;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-flex;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.achievement__card2 .achievement__icon{
    background-color: #7B68EE;
}

.achievement__card3 .achievement__icon{
    background-color: #8A2BE2;
}

.achievement__card1 p, .achievement__card2 p, .achievement__card3 p{
    margin-top: 2rem;
}

/* ===================MEET THE TEAM+++++++++++++++++++++++ */

.team{
    opacity: 0;
    transform: translateY(50px); /* Start 50px lower */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.team.visible{
    opacity: 1;
    transform: translateY(0);
}

.team h2{
    margin-top: 3rem;
}

.team h2 span {
    display: block; /* Change from inline-flex to block */
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 3rem 1rem 3rem;
}

.team h5{
    text-align: center;
    display: block;
    color: #1e1e1e;
}

/*.container_team__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}*/

.container_team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the content */
    margin: 1rem 0 5rem 0;
}

.container_team__container .team__member{
    background: #4169E1;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

.container_team__container .team__member img{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    filter: saturate(0);
}

.team__member:hover img{
    filter: saturate(1);
}

.team__member:hover{
    background: rgba(255, 255, 255, 0.1); /* Set background opacity */
    border-color: #3055c1;
}

.team__member-info *{
    text-align: center;
    margin-top: 1.4rem;
}

.team__member-info p{
    color: #ccc;
}

.team__member-socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: #6495ED;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.team__member:hover .team__member-socials{
    right: 0;
}

.team__member-socials a{
    padding: 1rem;
}

/* ==== About the Grinds ==== */

.about{
    display: flex;
    border-radius: 1rem;
    background: #4169E1;
    padding: 2rem;
    margin: 3rem 10rem 1rem;
    flex-direction: row;
}

.about p{
    color: #FFFFFF;
    margin: 0 0 1rem 0; /* Add margin between paragraphs */
    text-align: left; /* Align text to the left */
    display: block; /* Ensure paragraphs are displayed as block elements */
    color: var(--white-color);
}

.about img{
    margin: 0 2rem .25rem .5rem;
    width: 425px;
    height: 300px;
    border-radius: 1rem;
}

/*==== MEDIA ====*/

@media screen and (max-width: 1024px){
    .img1, .img2{
        display: none;
    }

    .about__achievement{
        margin-top: 2rem;
    }

    .container_about__achievements_container{
        grid-template-columns: 1fr;
        margin: 1rem;
        gap: 0;
    }

    .about__achievements-left{
        margin: 1rem;
    }

    .achievement__card1, .achievement__card2, .achievement__card3{
        width: 90%;
    }

    .container_team__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .container_team__container .team__member{
        padding: 1rem;
        margin: 0.25rem;
    }

    .container_team__container .team__member img{
        max-width: 100%;
    } 
}

@media screen and (max-width: 600px){
    .about__achievements-right{
        margin: 0 0 0 2rem;
        justify-content: center;
    }

    .achievements__cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .container_team__container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .container_team__container .team__member img{
        max-width: 100%;
        max-height: 60%;
    }

    .container_team__container .team__member{
        padding: 0;
    }

    .container_team__container .team__member p{
        margin-bottom: 1.5rem;
    }
}